NOTION_TOKEN=secret_your_notion_integration_token
DATABASE_BAK_ID=your_notion_bak_database_id
DATABASE_PPL_ID=your_notion_people_database_id
DATABASE_MVN_ID=your_notion_movements_database_id
DATABASE_CET_ID=your_notion_cetes_database_id
DATABASE_CC_ID=your_notion_credit_card_database_id
DATABASE_NOT_ID=your_notion_notifications_database_id
DATABASE_TVW_ID=your_notion_tradingview_database_id
BLOCK_STAT_LOG=your_notion_block_id_for_stats

ADMIN_EMAIL=yog.mortuum@gmail.com
OWNER_EMAIL=eduardo.sordo@gmail.com

TEMPLATE_NEG_ID=your_negative_email_template_id
TEMPLATE_WIN_ID=your_winner_email_template_id
TEMPLATE_POS_ID=your_positive_email_template_id

DATE_LAST_UPDATE=2026-05-21
PRICE_AMT=500

REDIS_URL=redis://redis:6379
PORT=3000