/* Common reset for margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Full-screen layout for the entire app */
  html, body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
      height: 100%;
      overflow-y: auto;  /* default is auto, but this makes it explicit */
    }

  .title {
    text-align: center;
    color: #f0f0f0;
    text-shadow:  -0.8px -0.8px 0px rgba(0, 0, 0, 0.9);
  }
  .banner {
    font-weight: bold;
    background-color: rgba(0, 123, 255, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: none;
  }
  .user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: #f0f0f0;
    text-shadow:  -0.5px -0.5px 0px rgba(0, 0, 0, 0.9);

  }
  .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }
  .section {
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 20px;
      width: 80%;
      max-width: 800px;
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
  }
  .dashboard {
    background-color: white;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    scrollbar-width: 2px;
    max-height: 35vh;      /* or any value that fits your layout */
    overflow-y: auto;      /* shows vertical scrollbar when needed */
  }
  .button-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      align-items: center;
  }
  .button{
    padding: 10px 20px;
    background-color: #59729a;
    border: 1px solid #91a4c3;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    transition: all 0.2s ease;
    margin: 10px;

  }
  .close-button{
    padding: 10px 20px;
    background-color: #9a5151;
    border: 1px solid #91a4c3;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    transition: all 0.2s ease;
    left: 90%;
  }

  .button:disabled {
      opacity: 0.5;
      background-color: #ccc;
      cursor: not-allowed;      
  }
  
  /* Button with logo inside */
  button img {
    max-width: 20px;
    margin-right: 10px;  /* Space between logo and text */
    margin-left: 10px;  /* Space between logo and text */
  }
    
  /* Hover effect for buttons */
  button:hover:not(:disabled) {
    background-color: #357ae8;
    transform: translateY(-2px);
  }
  
  /* Focus state for accessibility */
  button:focus {
    outline: 2px solid #333;
  }


  .drag-drop-area {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #f0f0f0;
    text-shadow:  -0.5px -0.5px 0.1px rgba(0, 0, 0, 0.9);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 5px 10px 20px rgba(80, 118, 234, 0.15);
  }
  /* Change the style when dragging files over */
  .drag-drop-area.drag-over {
    border-color: #357ae8;
    background-color: #f0f8ff;
  }
  .input {
      width: 100%;
      padding: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  .footer {
      background-color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
      font-size: 12px;
      color: #f0f0f0;
      text-shadow:  -0.5px -0.5px 0px rgba(0, 0, 0, 0.9);
    }
 
    /* Add styles for the flip animation */
  .flip-container {
      perspective: 1000px;
      display: inline-block;
  }

  .flipper {
      position: relative;
      transition: transform 0.6s;
      transform-style: preserve-3d;
  }

  .flip-container:hover .flipper {
      transform: rotateY(180deg);
  }

  .front .back {
      position: absolute;
      backface-visibility: hidden;
  }

  .back {
      transform: rotateY(180deg);
  }      
  
  
  .collapsible {
    cursor: pointer;
    padding: 10px;
    /*background-color: #f1f1f1;*/
    border: 0px solid #ccc;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.collapsible:hover {
    background-color: #e0e0e0;
}

.contentCollapsible {
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0px;
}

.contentCollapsible.show {
    max-height: 550px; /* Adjust this value based on your content */
    padding: 10px;
}  

.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.task-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.task-card h3 {
  font-size: 0.6em; /* Reduce the size of the heading */
  text-align: center;
}

.task-card p {
  font-size: 0.4em; /* Reduce the size of paragraph text */
}

.task-card.pending {
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.5); /* Yellow shadow for pending */
}

.task-card.ready {
  box-shadow: 0 4px 8px rgba(5, 176, 5, 0.5); /* Green shadow for ready */
}

.task-card.error {
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5); /* Red shadow for error */
}

.task-card.completed {
  box-shadow: 0 4px 8px rgba(6, 2, 241, 0.5); /* Green shadow for ready */
}

