name: Publish to npm

on:
  push:
    branches:
      - main
permissions:
  contents: write
  
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
          
      - name: Update npm
        run: npm install -g npm@latest
      - name: GIT login
        run: |
          git config --global user.name 'ygmrtm'
          git config --global user.email 'ygmrtm@gmail.com'
          git remote set-url origin https://${{ secrets.PAT_GH }}@github.com/ygmrtm/banco-lalito.git
      - run: npm ci
      - run: npm run build --if-present
      - name: Release
        run: npm run release          
      #- run: npm test

      # Run various npm commands to trigger the warning
      #- run: npm --version
      #- run: npm config ls
      #- name: Inspect the config set up by setup-node
      #  run: |
      #    cat /home/runner/work/_temp/.npmrc
      
      #- run: npm publish --tag latest
      # GIT commit(force and add tag) & push
      - name: Commit 
        run: 'git commit --allow-empty -m "chore: (release): publish ${{ steps.Release.outputs.newTag }}"'
      - name: Push to GitHub
        run: git push --follow-tags origin main
