name: Publish to npm

on:
  push:
    branches:
      - main
permissions:
  id-token: write  # Required for OIDC
  contents: write
  
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Set up Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'  # Use your Node.js version
          registry-url: 'https://registry.npmjs.org/'

      # Install dependencies and run tests
      - name: Install dependencies
        run: npm install ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_READ_TOKEN }}        

      - name: Run tests
        run: npm test --passWithNoTests

      # GIT login
      - name: GIT login
        run: |
          git config --global user.name 'ygmrtm'
          git config --global user.email 'ygmrtm@gmail.com'
          git remote set-url origin https://${{ secrets.PAT_GH }}@github.com/ygmrtm/banco-lalito.git

      # Release   
      - name: Release
        run: npm run release

      # GIT commit(force and add tag) & push
      - name: Commit 
        run: 'git commit --allow-empty -m "chore: (release): publish ${{ steps.Release.outputs.newTag }}"'

      - name: Push to GitHub
        run: git push --follow-tags origin main

      # Publish the package
      - name: Publish package to npm
        run: npm publish --tag latest
