name: Publish to npm

on:
  push:
    branches:
      - main
permissions:
  id-token: write 
  contents: write
  
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Set up Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16'  
          registry-url: 'https://registry.npmjs.org/'

      # GIT login
      - name: GIT | login
        run: |
          git config --global user.name 'ygmrtm'
          git config --global user.email 'ygmrtm@gmail.com'
          git remote set-url origin https://${{ secrets.PAT_GH }}@github.com/ygmrtm/banco-lalito.git

      # Install dependencies and run tests
      - name: NPM | Install dependencies
        run: npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_READ_TOKEN }}         
      - name: NPM | Build
        run: npm run build --if-present
      - name: NPM | Run tests
        run: npm test --passWithNoTests
      - name: Release
        run: npm run release
      - name: NPM | Publish package to npm
        run: npm publish          
         
      # GIT commit(force and add tag) & push
      - name: GIT | Commit 
        run: 'git commit --allow-empty -m "chore: (release): publish ${{ steps.Release.outputs.newTag }}"'

      - name: GIT | Push to GitHub
        run: git push --follow-tags origin main

      # Publish the package
      #- name: Publish package to npm
      #  run: npm publish --tag latest
